.todo-page{
  display: grid;
  grid-template-columns: minmax(auto, 240px) 1fr;


  .tasklist{


    &:hover .more{
      visibility: inherit;
    }
    .more{
      visibility: hidden;
    }

    .more-un{
      visibility: inherit;
    }
  }
}