.todo-page{
  display: grid;
  grid-template-columns: minmax(auto, 240px) 1fr;


  .tasklist{


    &:hover .more{
      opacity: 1;
    }
    .more{
      opacity: 0;
    }

    .more-un{
      opacity: 1;
    }
  }
}